#fourthPage {
  margin: 0px, 0px, -20px;
  background-image: url('Images/dron.png');
  background-color: #EFC900;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
}
#leftSideButtonNext,
#rightSideButtonNext {
  position: absolute;
  top: 50%;
  border: solid #EFC900;
  border-width: 0 4px 4px 0;
  display: inline-block;
  height: 25px;
  width: 25px;
}

#nextButtonsForTwoSides div::after {
  content: '';
  position: absolute;
  border: solid #EFC900;
  border-width: 0 4px 4px 0;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-left: 7px;
  margin-top: 7px;
}

#leftSideButtonNext {
  transform: rotate(135deg);
  left: 5%;
}

#rightSideButtonNext {
  transform: rotate(-45deg);
  right: 5%;
}

#rightSideButtonNext:hover {
  transform: scale(1.5, 1.5) rotate(-45deg);
  transition: all .3s ease-in-out;
}

#leftSideButtonNext:hover {
  transform: scale(1.5, 1.5) rotate(135deg);
  transition: all .3s ease-in-out;
}

#contactPage {
  margin: 0px;
  background-color: #EFC900;
  min-height: 200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

#containerVCard {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#contactInformation {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  left: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

#contactInformation h1,
span {
  padding-top: 15px;
  margin: 0px 5px 0px;
}

@media screen and (min-width:0px) and (max-width: 720px) {
  #contactInformation {
    font-size: 15px;
    transform: translate(-50%, 0%);
  }
  #contactPage img {
    display: none;
  }
  #leftSideButtonNext {
    left: 10%;
  }
  #rightSideButtonNext {
    right: 10%;
  }
}

@media screen and (min-width:0px) and (max-width: 360px) {
  #fourthPage #logo {
    display: none;
  }
}